body
{
    background: #F8F8F8;
}

#header
{
        position: relative;
        margin: 0;
        background-image: url('images/overlay.png'), url('../images/header.jpg');
        background-size: auto,cover;
        background-position: top left,center center;
        background-repeat: repeat,no-repeat;
        padding: 5em 14em 14em 14em;
        text-align: center;
        color: #fff;
}

.dark
{
        color: #aaa;
        color: rgba(255,255,255,0.65);
}

h1
{
    font-size: 40px;
    color: white;
}

h2
{
    color: white;
}

table.default tbody tr
{
    border: solid 1px #e6e6e6;
}

.table
{
    padding: 0% 0% 0% 37%;
}

.resultados table
{
    display: block;
    border: #ececec solid 1px;
    margin-left: 31%;
    width: 600px;
}

.resultados table tr
{
    border: #ececec solid 1px;
}

.resultados table tr .nombre
{
    font-size: 25px;
}

form input[type="text"], form input[type="password"]
{
    size: 14em;
    border-radius: 10px;
}

form input[type="submit"], form input[type="button"]
{
    background: rgba(255,255,255,0.15);
    box-shadow: inset 0 0 0 1px #fff;
    color: #fff;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    background: #3d3d3d;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1em;
    cursor: pointer;
    border: 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: #fff;
    border-bottom-color: rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.15);
    box-shadow: inset 0 0 0 1px #fff;
    color: #fff;
}

.dark input[type="button"]:hover,
.dark input[type="submit"]:hover
{
    background: rgba(255,255,255,0.25);
}

#footerid .footer
{
    margin-top: 30%;
}

footer
{
/*    background:	url('images/bgtr.svg') top right no-repeat,
                url('images/bgbl.svg') bottom left no-repeat,
                url('images/overlay.png'),
                linear-gradient(45deg, #5f796b, #3a4e59, #2f394e);*/
    background:	url('images/bgtr.svg') top right no-repeat,
                url('images/bgbl.svg') bottom left no-repeat,
                url('images/overlay.png'),
                linear-gradient(45deg, #634c4c, #754e4e, #965656);
    height: 8em;
    border: transparent double 2px;
    border-radius: 10px;
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
    color: white;
    display: block;
}

.home
{
    background-image: url('images/overlay.png'), url('../images/header.jpg');
    background-size: auto,cover;
    background-position: top left,center center;
    background-repeat: repeat,no-repeat;
}

.principalArea
{
    display: block;
    width: 640px;
    height: 60px;
    margin-bottom: 30px;
    margin-left: 40%;
    font-size: 20px;
}

.principalAreaP
{
    display: block;
    width: auto;
    height: auto;
    margin-left: 35%;    
    font-size: 20px;
}

.principalTrabajadores
{
    margin-left: 42%;
}

.principalMostrarP
{
    margin-left: 5%;
    border-bottom: 10px;
}

.menuArea
{
    display:inline-block;
    float: left;
    width: 260px;
    padding-bottom: 40px;
    background: transparent;
}

#menuUrl input[type="submit"]
{
    width: 200px;
}
.result
{
    text-align: center;
}

.success .error
{
    font-size: 40px;
    font-family: bold;
}

.success h2
{
    color: #c7fcc1;
}

.error h2
{
    color: #fcd1c1;
}

.success, .error
{
    width: 100%;
    background-color: #fb959e;
}