.titleProyects
{
    background-color: #95b8ff;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    margin: 0 10px 0 10px;
}

.titleProyects:hover
{
    cursor: pointer;
    background-color: #bbd1fc;
}

.principalMenus
{
    border-radius: 8px;
    margin: 0 15px 0 15px;
}

.principalMenus .td
{
    border: #99b9f9 solid 1px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: #2d65d5;
    padding: 3px 3px 3px 3px;
}

.principalMenus .td2
{
    border: #99b9f9 solid 1px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: #6294f7;
    padding: 3px 3px 3px 3px;
}

