/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Globa ls
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
button {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Table for messages
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.table_message {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:21px;
	-webkit-border-bottom-left-radius:21px;
	border-bottom-left-radius:21px;
	
	-moz-border-radius-bottomright:21px;
	-webkit-border-bottom-right-radius:21px;
	border-bottom-right-radius:21px;
	
	-moz-border-radius-topright:21px;
	-webkit-border-top-right-radius:21px;
	border-top-right-radius:21px;
	
	-moz-border-radius-topleft:21px;
	-webkit-border-top-left-radius:21px;
	border-top-left-radius:21px;
}.table_message table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.table_message tr:last-child td:last-child {
	-moz-border-radius-bottomright:21px;
	-webkit-border-bottom-right-radius:21px;
	border-bottom-right-radius:21px;
}
.table_message table tr:first-child td:first-child {
	-moz-border-radius-topleft:21px;
	-webkit-border-top-left-radius:21px;
	border-top-left-radius:21px;
}
.table_message table tr:first-child td:last-child {
	-moz-border-radius-topright:21px;
	-webkit-border-top-right-radius:21px;
	border-top-right-radius:21px;
}.table_message tr:last-child td:first-child{
	-moz-border-radius-bottomleft:21px;
	-webkit-border-bottom-left-radius:21px;
	border-bottom-left-radius:21px;
}.table_message tr:hover td{
	
}
.table_message tr:nth-child(odd){ background-color:#aad4ff; }
.table_message tr:nth-child(even)    { background-color:#ffffff; }.table_message td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.table_message tr:last-child td{
	border-width:0px 1px 0px 0px;
}.table_message tr td:last-child{
	border-width:0px 0px 1px 0px;
}.table_message tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.table_message tr:first-child td{
		background:-o-linear-gradient(bottom, #56aaff 5%, #005fbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #005fbf) );
	background:-moz-linear-gradient( center top, #56aaff 5%, #005fbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#005fbf");	background: -o-linear-gradient(top,#56aaff,005fbf);

	background-color:#56aaff;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.table_message tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #005fbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #005fbf) );
	background:-moz-linear-gradient( center top, #56aaff 5%, #005fbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#005fbf");	background: -o-linear-gradient(top,#56aaff,005fbf);

	background-color:#56aaff;
}
.table_message tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.table_message tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menu buttons ver 2
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.button2 {
   border-top: 1px solid #96d1f8;
   background: #61a6d4;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#61a6d4));
   background: -webkit-linear-gradient(top, #3e779d, #61a6d4);
   background: -moz-linear-gradient(top, #3e779d, #61a6d4);
   background: -ms-linear-gradient(top, #3e779d, #61a6d4);
   background: -o-linear-gradient(top, #3e779d, #61a6d4);
   padding: 9.5px 19px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button2:hover {
   border-top-color: #76a9c9;
   background: #76a9c9;
   color: #ffffff;
   cursor: pointer;
   }
.button2:active {
   border-top-color: #153345;
   background: #153345;
   }


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Side button
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

      *{margin:0px;padding:0px;}
      #suggestPost
      {
        background:transparent url(suggest-post.png) no-repeat scroll 0px 0px;
        height:170px;
        left:0;
        position:fixed;
        top:150px;
        width:40px;
      }
      div#suggestPost:hover
      {
        background-position:-41px 0px;

      }
      #suggestPost a
      {
        display:block;
        height:170px;
        width:40px;

      }


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.mask { /*Dims the page when menu is up*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}




/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Toggle Buttons
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.buttons {
    z-index: 10;
    margin-bottom: 30px;
    text-align: left;
    position:fixed; 
    top:2%; 
    left:0%;
    height:170px;
    width:40px;

}
.buttons button {
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 15px 30px;
    color: #fff;
    background-color: black;
    height:170px;
    width:40px;
}
.buttons button:hover,
.buttons button.active {
    background-color: gray;
}
.buttons button:focus {
    outline: none
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menus
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
/* general style for all menus */
nav.menu {
    position: fixed;
    z-index: 20;
    background-color: #A9D0F5;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav.menu a {
    font-weight: 300;
    color: #fff;
}
button.close-menu {
    background-color: gray;
    color: #fff;
}
button.close-menu:focus {
    outline: none
}
/* slide menu left and right, push menu left and right */
nav.slide-menu-left{
    top: 0;
    width: 300px;
    height: 100%;
}
nav.slide-menu-left li{
    display: block;
    text-align: center;
    border-bottom: solid 1px gray;
    border-top: solid 1px white;
}
nav.slide-menu-left li:first-child {
    border-top: none
}
nav.slide-menu-left li:last-child {
    border-bottom: none
}
nav.slide-menu-left a{
    display: block;
    padding: 10px;
    font-size: 18px;
}
nav.slide-menu-left button.close-menu{
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #848484;
    color: #fff;
}
nav.slide-menu-left{
    left: -300px
}
nav.slide-menu-right,
nav.push-menu-right {
    right: -300px
}
body.sml-open nav.slide-menu-left{
    left: 0
}
body.smr-open nav.slide-menu-right{
    right: 0
}
body.pml-open #wrapper {
    left: 300px
}
body.pmr-open #wrapper {
    left: -300px
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media all and (max-width: 860px) { 
	.buttons br {
	  	display: none
	}
	.buttons button {
	  	padding: 10px 20px
	}
}
@media all and (max-width: 660px) { 
	}
@media all and (max-width: 330px) { 
	nav.slide-menu-left {
	  	top: 0;
	  	width: 100%;
	}
	nav.slide-menu-left{
	  	left: -100%
	}
	body.sml-open nav.slide-menu-left{
	  	left: 0
	}
	body.pml-open #wrapper {
	  	left: 100%
	}
	body.pmr-open #wrapper {
	  	left: -100%
	}
}